body {
    background-color: #F4F8F3;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --dark-blue: #1D3C6D;
    --light: #fff;
    --red: #E32726;
    --light-red: #fd3e3e;
    --green-light: rgb(122, 235, 122);
    --green: #35881c;
    --yellow: #DBA328;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

.background-fd{
    background-color: #5FB046;
    height: 100vh;
}


.div {
    display: flex;
    justify-content: center;
}

.title {
    color: #1D3B6D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
    font-size: 5rem;
}


label {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    text-align: center;
}

.form-control {
    font-size: 1.5rem !important;
}

.fomr-cadastro {
    align-items: center;
}

.img1 {
    margin-top: 1rem;
    width: 30vh;
    position: fixed;
}

.img4 {
    width: 20vh;
    margin-left: 2%;
    bottom: 0;
}

.img3 {
    width: 20vh;
    bottom: 0;
    left: 0;
}

.img2 { 
    width: 70vh;
    position: fixed;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);

}

.btn-cadastro {
    border: none;
    background-color: var(--dark-blue);
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 10rem;
}

.btn-cadastro:hover {
    background-color: var(--green);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
}

.btn-back {
    border: none;
    background-color: var(--red);
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    cursor: pointer;
    width: 10rem;
}

.btn-back:hover {
    background-color: var(--yellow);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
}

.button-cadastro {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 2rem;
}