body{
    background-color: #F4FBF3;
    font-family: 'Montserrat', sans-serif;
}

.bg-green{
    background-color: #5FB046;
    width: 50%;
}

.div {
    display: flex;
    justify-content: center;
}

.title{
    color: #1D3B6D;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important;
}


label{
    margin-bottom: 0.5rem;
    font-weight: 500;
}



.img1{
    width: 30vh;
}

.img4 {
    width: 20vh;
    margin-left: 2%;
    bottom: 0;
}

.img3 {
    width: 20vh;
    bottom: 0;
    left: 0;
}

.img2{
    width: 50vh;

}
