/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variáveis*/
:root {
    --dark-blue: #1D3C6D;
    --light: #fff;
    --red: #E32726;
}

/* Formatações genéricas */
body {
    font-family: 'Rubik', sans-serif;
    background-color: #F4FBF3;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: var(--light);
    font-size: 1rem;
}

/**********************/

.container{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.fundo {
    height: 100%;
    position: fixed;
    float: left;
}

.fundo img {
    max-width: 50vh;
    height: 100% ;
    
}

.logo-inova{
    position: absolute;
    width: 20vh;
    margin: 2rem 10rem;
    position: fixed;
}

/* formulario *************************/
.formulario{
    margin: 1% 6%;
    font-size: 1.5rem;
    text-align: justify;
    width: 60%;
    float: right;
    height: 100%;
}

.formulario h1, h2{
    color: var(--dark-blue);
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0;
}

.formulario p label{
    font-size: 2rem;
}

.forms-page{
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
