/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variáveis*/
:root {
    --dark-blue: #1D3C6D;
    --light: #fff;
    --red: #E32726;
    --light-red: #fd3e3e;
    --green-light: rgb(122, 235, 122);
    --green: #35881c;
    --yellow: #DBA328;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* Formatações genéricas */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4FBF3;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: var(--light);
    font-size: 1rem;
}

p {
    font-weight: 400;
}

h2,
h1 {

    font-weight: 600;
}

/**********************/


/* Posicione a imagem de fundo à esquerda */

.img-fundo {
    max-width: 70vh;
    position: relative;
    /* Adicione posição relativa para posicionar as logos */
}

.fundo {
    max-width: 70vh;
    height: 100%;
    position: fixed;
    left: 0;
    /* Fixa à esquerda */
}

/* Estilize as logos */
.logo-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
}

.logo-inova {
    width: 25vh;
    position: fixed;
    margin: 2rem;
}

.logo-kraft {
    width: 22vh;
    position: fixed;
    bottom: 0;
    margin: 2rem;
}

.container {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* formulario *************************/


.ESG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 90%;
    max-width: 60%;
    /* Defina a largura máxima desejada para o formulário */
    margin-left: auto;
    /* Coloque o formulário à direita da tela */
    margin-right: 8%;
    /* Adicione um espaço à direita para separar o conteúdo da borda da tela */
    position: relative;
    padding: 3rem 0;
}

.tomato {
    width: 30vh;
    text-align: center;
    align-self: center;
}

.ESG h1,
h2 {
    color: var(--dark-blue);
    text-align: center;
    font-size: 3rem;
    margin: 1.5rem 0;
    right: 0;
}

.ESG p {
    font-size: 2rem;
    padding: 1rem;
    flex-direction: column;
}

.radio-check {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 2rem;

}

.sim,
.nao {
    margin: 1rem 3rem;
    /* Adicione margem à direita para separar os inputs */
}

.radio {
    appearance: none;
    background-color: rgb(218, 218, 218);
    width: 15px;
    height: 15px;
    border: 1px solid #929292;
    border-radius: 10px;
    margin-right: 10px;
}

.radio:checked {
    background-color: var(--light-red);
    /* Cor de fundo quando marcado (substitua pela cor desejada) */
    border-color: var(--light-red);
    /* Cor da borda quando marcado (opcional) */
    border: 1px solid #ff0000;
}



.slider {
    width: 80%;
    appearance: none;
    background-color: var(--green-light);
    border-radius: 10px;
    padding: 1px;
    margin: 2rem 0;
    height: 10px;
}

.slider::-webkit-slider-thumb {
    appearance: none;
    display: block;
    width: 15px;
    height: 15px;
    padding: 5px;
    background-color: rgb(33, 143, 33);
    border-radius: 10px;
}

.range {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 1px rgba(179, 179, 179, 0.2);
    margin: 2rem;
    border-radius: 10px;
}

.value {
    color: var(--green);
    font-weight: bold;
    font-size: 2rem;
}

.button-container {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 2rem;
}

.enviar,
.voltar {
    border: 1px solid var(--light-red);
    background-color: var(--red);
    padding: 0.5rem 3rem;
    color: white;
    font-size: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;

}

.voltar {
    background-color: var(--dark-blue);
    border: 1px solid var(--dark-blue)
}

.enviar:hover {
    background-color: var(--green);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
}

.voltar:hover {
    background-color: var(--yellow);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
}

.vetor1 {
    position: fixed;
    bottom: 3px;
    right: 0;
    padding: 10px;
    width: 8rem;
}

/*modal*/

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 90%;
    color: var(--light);
    background-color: #168DAD;
    padding: 1rem;
    border-radius: 0.5rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

.modal-title {
    color: white;
    font-weight: 500;
}

#close-modal{
    border: 1px solid var(--light-red);
    background-color: var(--red);
    padding: .5rem ;
    color: white;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

#close-modal:hover{
    background-color: var(--green);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
}

#fade,
#modal {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.modal-body p {
    font-size: 1.3rem;
    margin: 1rem;
    text-align: justify;
}

.cupon-gera{
    padding: 1rem 0;
    background-color: var(--green);
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    align-self: center;
    margin: 2rem 0;
    width: 10rem;
}


.imgmodal{
    align-self: center;
    width: 15rem;
    margin: 1rem 0;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}

#modal.hide {
    top: 0;
}