/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variáveis*/
:root {
    --dark-blue: #1D3C6D;
    --light: #fff;
    --red: #E32726;
    --light-red: #fd3e3e;
    --green-light: rgb(122, 235, 122);
    --green: #35881c;
    --yellow: #DBA328;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* Formatações genéricas */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #F4FBF3;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: var(--light);
    font-size: 1rem;
}

p{
    font-weight: 400;
}

h2, h1{
    
    font-weight: 600;
}

/**********************/


/* Posicione a imagem de fundo à esquerda */

.img-fundo {
    max-width: 70vh;
    position: relative; /* Adicione posição relativa para posicionar as logos */
}
.fundo {
    max-width: 70vh;
    height: 100%;
    position: fixed;
    left: 0; /* Fixa à esquerda */
}

/* Estilize as logos */
.logo-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
}

.logo-inova {
    width: 25vh; 
    position: fixed;
    margin: 2rem;
}

.logo-kraft {
    width: 22vh;
    position: fixed;
    bottom: 0;
    margin: 2rem;
}

.container{
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* formulario *************************/


.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
    max-width: 60%; /* Defina a largura máxima desejada para o formulário */
    margin-left: auto; /* Coloque o formulário à direita da tela */
    margin-right: 5%; /* Adicione um espaço à direita para separar o conteúdo da borda da tela */
    position: relative;
    padding: 3rem 0;
}

.tomato{
    width: 25vh;
    text-align: center;
    align-self: center;
}

.formulario h1, h2{
    color: var(--dark-blue);
    text-align: center;
    font-size: 3rem;
    margin: 1.5rem 0;
    right: 0; 
}

.formulario p{
    font-size: 2rem;
    padding: 1rem;
    flex-direction: column;
}

.radio-check{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    font-size: 2rem;
    
}

.sim {
    margin: 1rem 3rem; /* Adicione margem à direita para separar os inputs */
}

.radio{
    appearance: none;
    background-color: rgb(218, 218, 218);
    width: 15px;
    height: 15px;
    border: 1px solid #929292;
    border-radius: 10px;
    margin-right: 10px;
}

.radio:checked {
    background-color: var(--light-red); /* Cor de fundo quando marcado (substitua pela cor desejada) */
    border-color: var(--light-red); /* Cor da borda quando marcado (opcional) */
    border: 1px solid #ff0000;
}



.slider{
    width: 80%;
    appearance: none;
    background-color: var(--green-light);
    border-radius: 10px;
    padding: 1px;
    margin: 2rem 0;
    height: 10px;
}

.slider::-webkit-slider-thumb{
    appearance: none;
    display: block;
    width: 15px;
    height: 15px;
    padding: 5px;
    background-color: rgb(33, 143, 33);
    border-radius: 10px;
}



.range{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 1px rgba(179, 179, 179, 0.2);
    margin: 2rem;
    border-radius: 10px;
}

.value{
    color: var(--green);
    font-weight: bold;
    font-size: 2rem;
}

.button-container {
    display: flex; /* Isso faz com que os elementos fiquem em uma linha horizontal */
    gap: 10px; /* Espaçamento entre os botões */
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .enviar, .voltar {
    border: 1px solid var(--light-red);
    background-color: var(--red);
    padding: 0.5rem 3rem;
    color: white;
    font-size: 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    
  }
  
  .voltar {
    background-color: var(--dark-blue); 
    border: 1px solid var(--dark-blue)
  }
  
  .enviar:hover {
    background-color: var(--green); /* Cor de fundo ao passar o mouse */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
  }

  .voltar:hover{
    background-color: var(--yellow); /* Cor de fundo ao passar o mouse */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    border: none;
  }

.vetor1{
    position: fixed;
    bottom: 3px; /* Ajuste a distância vertical a partir do fundo conforme necessário */
    right: 0; /* Ajuste a distância horizontal a partir da direita conforme necessário */
    padding: 10px;
    width: 8rem;
}

