/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variáveis*/
:root {
    --dark-blue: #1D3C6D;
    --light: #fff;
    --red: #E32726;
}

/* Formatações genéricas */
body {
    font-family: 'Rubik', sans-serif;
    background-color: var(--dark-blue);
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: var(--light);
    font-size: 1rem;
}

.esg-page p{
    color: var(--light);
}

/* container */

.container{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* formatação header */
.home{
    background: url(../images/fundohero.png);
}

.header{
    display: flex;
    
    /* posição inicial dos filhos */
    flex-direction: row;

    /* alinhamento horizontal */
    justify-content: space-between;

    padding: 0.5rem 2rem;

    /* alinhamento vertical */
    align-items: center;

    /* posicionando o menu */
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.inova-heinz-header{
    width: 17rem;
}

.img-header{
    width: 20rem;
}

/* hero */
.hero{
    min-height: 80vh;
    background: url(../images/fundohero.png);
}

.btn-colaborador{
    background-color: var(--dark-blue);
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
}


.main-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 45vh;
    /* margin: 3rem 0; */
}

.hraft-heinz-hero{
    width:22rem;
}

.btn-cadastro{
    background-color: var(--red);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    margin: 2rem;
}

.hero-text{
    font-size: 1.5rem;
    width: 100vh;
}

.inova-heinz-hero1, .inova-heinz-hero2{
 width: 23rem;
 position: relative;

 
}

.inova-heinz-hero1{
    margin: 0 3rem;
    position: relative;
}

.images-hero{
    justify-content: space-between;
    width: 100%;
    display: flex;
    
    flex-direction: row;
    align-items: center;
}


/* esg apresentação */

.esg-page{
    width: 100%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-letsmake img{
    width: 25rem;
    padding: 3rem;
}
.text-esg{
    font-size: 1.5rem;
    width: 100vh;
    margin: 8rem;
}

.img-comunidade, .img-gestao, .img-ambiente{
    width: 10rem;
}


.esg-images{
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    
    flex-direction: row;

    align-items: center;
    margin: 6rem;
   
}

.footer{
    width: 100%
}
.footer img{
    width: 15rem;
    margin-top: 8rem;
}