

.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem;
    position: relative;
    text-align: center;
    
    
}

.imagem{
    margin-right: auto 100px; 
    margin-left: auto 100px; 
}

.image-container {
    display: flex;
    justify-content: space-between; 
}

.image-container img {
    margin-right: 20px; 
}

.text{
    font-family: 'Inter Tight', sans-serif;
    font-size: 25px;
    font-weight: light;

}