.bg-green{
    background-color: #5FB046;
    width: 50%;
}

.formulario{
    width: 50%;
}

.div {
    display: flex;
    justify-content: center;
}


.texto{

    color: #1D3B6D;
}

.img3 {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 20px; /
    margin-left: 20px; 
}

.img4 {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px; /* Ajuste o valor da margem conforme necessário para aumentar ou diminuir o espaçamento */
    margin-right: 20px; /* Ajuste o valor da margem conforme necessário para aumentar ou diminuir o espaçamento */
}