.bg-green{
    background-color: #5FB046;
    width: 50%;
}

.formulario{
    width: 50%;
}

.div {
    display: flex;
    justify-content: center;
}


.texto{

    color: #1D3B6D;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

.img4 {
    width: 230px;
}

.img3 {
    width: 225px;
}

.bg-bege{
    background-color: #FFFAF0;
    width: 50%;
}

.img2{
    width: 500px;
}